

body {
    background-image: url("../assets/img/background/background1.png");
    background-size: cover;
    padding: 100px;
    overflow: hidden;
}

#login-box{
    height: 750px;
    background: rgba(0, 0, 0, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.7px);
    -webkit-backdrop-filter: blur(13.7px);
    border: 1px solid rgba(0, 0, 0, 0.6);
}

#login-box h1 {
    color: white;
    font-size: 9.375rem;
    font-family: visby_heavy, sans-serif;
    font-weight:bold;
    font-style:normal;
}

#login-box h3 {
    color: white;
    font-size: 30px;
    font-family: visby_thin, sans-serif;
    font-weight: lighter;
    font-style: normal;
}

#login-citation p {
    color: white;
    font-size: 70px;
    font-family: visby_thin, sans-serif;
    font-weight: lighter;
    font-style: normal;
}

#login-citation .special-word {
    font-weight: bold;
}

#login-form {
    text-align: center;
}

#login-form-box {
    background: rgba(0, 0, 0, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.7px);
    -webkit-backdrop-filter: blur(13.7px);
    border: 1px solid rgba(0, 0, 0, 0.6);
}

#login-form .confirm-button {
    margin-top: 50px;
    cursor: pointer;
    width: 50%;
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    border: 0.1rem white;
}

#login-form .confirm-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.image-side {
    background-image: url("../assets/img/login/sideimage.png");
    background-size: cover;
    -webkit-border-top-right-radius: 16px;
    -webkit-border-bottom-right-radius: 16px;
    -moz-border-radius-topright: 16px;
    -moz-border-radius-bottomright: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    height: 100%;
}

.forgot-button {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    border: 0.1rem white;
}

.forgot-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.signup-button {
    background-image: linear-gradient(to right, #614385 0%, #516395  51%, #614385  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    border: 0.1rem white;
}

.signup-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.input-container{
    position:relative;
    margin-bottom:25px;
}
.input-container label{
    position:absolute;
    top:0px;
    left:150px;
    font-size:16px;
    color:#fff;
    pointer-event:none;
    transition: all 0.5s ease-in-out;
}
.input-container input{
    border:0;
    border-bottom:1px solid #555;
    background:transparent;
    width:50%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:#fff;
}
.input-container input:focus{
    border:none;
    outline:none;
    border-bottom:1px solid #0080ff;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
    top:-12px;
    font-size:12px;
}