/* CSS FILE FOR THE HOME PAGE */

.home_left_div {

}

.home_title {
    color: white;
    font-weight: lighter;
}

.home_main_picture {
    border-radius: 25px;
    background-color: #070E14;
}

.home_main_picture img {
    width: 100%;
    border-radius: 25px;
    padding: 15px;
}

.home_post {
    height: 350px;
    border-radius: 25px;
    background-color: #070E14;
}

.search_bar {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #00A3FF;
    color: white;
}

.search_bar_button {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #00A3FF;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 10px;
}

.search_bar_button:hover {
    color: #00A3FF;
}

.friends_name {
    color: white;
}

.friends_name i {
    color: #17df17;
    font-size: 7px;
    margin-left: 8px;
}

.friends_icons i {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 50%;
    border: 1px solid #00A3FF;
    font-size: 8px;
    margin-right: 5px;
}



.calendar-container {
    background-color: #fff;
    border: 25px solid #11296b;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.month-name {
    margin: 0;
    background-color: #11296b;
    color: white;
    padding: 10px;
    font-size: 30px;
    position: relative;
    font-weight: bold;
}
.month-name::after {
    content: " ";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 22px;
    border-radius: 50%;
    background-color: #fff;
}
.month-name::before {
    content: " ";
    position: absolute;
    width: 40px;
    height: 40px;
    right: 22px;
    border-radius: 50%;
    background-color: #fff;
}

.day-name {
    font-size: 20px;
    color: #a9a9a9;
}

.day-number {
    font-size: 80px;
    margin: 0;
    font-weight: bold;
}

.year {
    margin: 20px 0;
    font-size: 20px;
    color: #a9a9a9;
    font-weight: 500;
}

.post_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post_infos_name {
    color: white;
    font-size: 10px;
}

.post_infos_date {
    font-size: 8px;
    font-weight: lighter;
}

.post_infos_title {
    color: white;
    font-weight: bold;
}

.post_message_area {
    color: #00A3FF;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 7px;
    border-radius: 15px;
}

.post_message_area pre {
    all: initial;
}

.post_message_area code {
    all: initial;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 13px;
    font-weight: bold;
    min-height: 45px;
}

.home_post:hover {
    text-decoration: none;
}

.like_text {
    color: white;

}

.like_value {
    color: #00A3FF;
}

.post_actions i {
    margin-left: 15px;
}


.action_post,
.like_button{
    color: white;
    border: 1px solid #00A3FF;
    padding: 5px 15px 5px 10px;
    border-radius: 15px;
}

.action_post:hover,
.like_button:hover{
    border: 1px solid white;
    cursor: pointer
}

.action_post i,
.like_button i{
    margin-right: 10px;
}

.code_insert {
    color: white;
}



/* CALENDAR CSS */



@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --calendar-bg-color: rgba(17, 17, 18, 0.66);
    --calendar-font-color: #FFF;
    --weekdays-border-bottom-color: #404040;
    --calendar-date-hover-color: #505050;
    --calendar-current-date-color: #1b1f21;
    --calendar-today-color: linear-gradient(to bottom, #03a9f4, #2196f3);
    --calendar-today-innerborder-color: transparent;
    --calendar-nextprev-bg-color: transparent;
    --next-prev-arrow-color : #FFF;
    --calendar-border-radius: 16px;
    --calendar-prevnext-date-color: #484848
}

* {
    padding: 0;
    margin: 0;
}

.calendar {
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    max-width: 200px; /*change as per your design need */
    min-width: 320px;
    background: var(--calendar-bg-color);
    color: var(--calendar-font-color);
    margin: 15px auto;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: normal;
    border-radius: var(--calendar-border-radius);
    border: 1px solid #00A3FF;
}

.calendar-inner {
    padding: 7px 7px;
}

.calendar .calendar-inner .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar .calendar-inner .calendar-body div {
    padding: 4px;
    min-height: 9px;
    line-height: 9px;
    border: 1px solid transparent;
    margin: 10px 2px 0px;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7) {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7):hover {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div>a {
    color: var(--calendar-font-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.calendar .calendar-inner .calendar-body div:hover {
    border: 1px solid var(--calendar-date-hover-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.calendar .calendar-inner .calendar-today-date {
    display: grid;
    text-align: center;
    cursor: pointer;
    margin: 3px 0px;
    background: var(--calendar-current-date-color);
    padding: 8px 0px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
    display: flex;
    min-width: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
    text-align: right;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-month-label {
    font-weight: 500;
    font-size: 20px;
}

.calendar .calendar-inner .calendar-body .calendar-today {
    background: var(--calendar-today-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body .calendar-today a {
    outline: 2px solid var(--calendar-today-innerborder-color);
}

.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
    color: var(--calendar-font-color);
    font-family: arial, consolas, sans-serif;
    font-size: 26px;
    text-decoration: none;
    padding: 4px 12px;
    display: inline-block;
    background: var(--calendar-nextprev-bg-color);
    margin: 10px 0 10px 0;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg {
    height: 20px;
    width: 20px;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg path,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg path{
    fill: var(--next-prev-arrow-color);
}

.calendar .calendar-inner .calendar-body .prev-dates,
.calendar .calendar-inner .calendar-body .next-dates {
    color: var(--calendar-prevnext-date-color);
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
    border: 1px solid transparent;
    pointer-events: none;
}
